# IntelliJ IDEA
.idea/
*.iml

# Java
*.class
target/
out/

# Node.js / React
node_modules/

# VS Code
.vscode/

# Mac OS
.DS_Store

# Eclipse
.classpath
.project
.settings/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/